body {
    text-align: center;
}
body {
    font-family: 'Abhaya Libre';font-size: 22px;
    background-color: #F2D1C9;
}
img{
    height: 300px;
}
h2{
    color: #F26699;
}
h5{
    color: #9D5E79
}